

@media (min-width: 841px) {
    footer{
        max-height: 291px;
        background-color: $backgroundPrimary;
        .container{
            padding: 70px 60px 70px 60px;
            margin: 0;
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            img{
                width: 15%;
            }
        }
        .contacts-footer{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 14px;
                margin-right: 30px;
                width: max-content;
            }
        }
        .social{
            justify-content: center;
            align-self: center;
            p{
                font-size: 14px;
            }
            .icons{
                display: flex;
                justify-content: center;
            }
            .icon{
               margin-top: 10px;
                width: 24px;
                height: 24px;
            }
            .facebook{
                margin-right: 10px;
                background: url('../images/icons/facebook.svg') bottom center / 24px 24px no-repeat content-box;
            }
            .instagram{
                background: url('../images/icons/Icon\ Instagram.svg') bottom center/ 24px 24px no-repeat content-box;

            }
        }
    }
}

@media (min-width: 1440px) {
    footer{
        .container{
            padding: 112px 120px
        }
        .contacts-footer{
            p{
                font-size: 18px;
                margin-right: 50px;
            }
        }
        .social{
            p{
                font-size: 18px;
            }
        }
    }
}